mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 200px;
}

a {
    text-decoration: none;
    color: white;
}

mat-nav-list a {
    color:black;
}

a:hover, a:active{
    color:lightgray;
    /* Existing issue for hover effects not working on mat-list-item - https://github.com/angular/material/issues/9247 */
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin:0;
}
.nav-caption{
    display: flex;
    padding-left: 6px;
}