mat-nav-list a {
    color:black;
}

a:hover, a:active{
    color:lightgray;
    /* Existing issue for hover effects not working on mat-list-item - https://github.com/angular/material/issues/9247 */
}


.nav-caption{
    display: flex;
    padding-left: 6px;
}