<section class="signup-form">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field style="width:20%">
            <mat-label>Your Email</mat-label>
            <input matInput type="email" ngModel name="email" email required #emailInput="ngModel">
            <mat-error style="padding:0" *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
            <mat-error style="padding:0" *ngIf="!emailInput.hasError('required')">Email is invalid.</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Please Enter your password" style="width:20%">
            <mat-label>Your Password</mat-label>
            <input matInput type="password" ngModel name="password" required minlength="6" #pwinput="ngModel">
            <mat-hint style="padding:0" align="end">{{ pwinput.value?.length}} / 6</mat-hint>
            <mat-error style="padding:0">Has to be atleast 6 charcters long.</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
    </form>
</section>